// nextflow.config

params {
    cpus = 64
    memory = '64 GB'
    time = '72h'
}


// Singularity settings
singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /g,/tmp,/scratch'  // Bind the parent paths explicitly
}

workDir = '/scratch/tweber/nextflow/workdir'

// Process executor
process {
    executor = 'slurm'
    clusterOptions = '-A datasci'  // Add your account
    // containerOptions = '--env TMPDIR=/tmp/tweber/nextflow --env APPTAINERENV_TMPDIR=/tmp/tweber/nextflow'
    // tempDir = '/tmp/tweber/nextflow'

    // Default resource requirements for all processes
    cpus = params.cpus
    memory = params.memory
    time = params.time
    
    // Process-specific configurations
    withName: 'runClair3' {
        cpus = params.cpus
        memory = params.memory
        time = params.time
    }
    


    // Error strategy - more lenient
    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = -1
}

// Executor settings
executor {
    queueSize = 50  // Reduced from 1000 to prevent overwhelming SLURM
    submitRateLimit = '10 sec'
    pollInterval = '30 sec'
}

// Resource manager settings
cluster {
    jobName = { "NF_clair3_${task.name}" }
}

// Profile configurations
profiles {
    slurm {
        process.executor = 'slurm'
    }
    
    debug {
        process.errorStrategy = 'terminate'
        process.maxRetries = 0
    }
}